
@{
    ViewBag.Title = "Cant delete article";
}

<pre class="active">
    Can't delete article because there is devices of this type and/or active/historical orders.
</pre>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

